[Unit]
Description=Minio
Documentation=https://docs.minio.io
After=network-online.target
AssertFileIsExecutable=/usr/local/bin/minio

[Service]
WorkingDirectory=/usr/local/
User=minio-user

ExecStart=/usr/local/bin/minio server --config-dir /etc/minio /zmain/minio-data

Restart=always

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=infinity
SendSIGKILL=no

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
